<div class="wrapper clearfix">
<div id="video">
<iframe width='512' height='385' src="<%= video_url %>"></iframe>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=203261143053818";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.current, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
      <li class="stats">
        <%= number_to_currency Order.revenue, :precision => 0 %>
        <span>of <%= number_to_currency Settings.project_goal.to_f * Settings.price.to_f, :precision => 0 %></span>
      </li>

      <% if Settings.expiration_date.present? %>
        <li class="stats" id="days">
          <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
          <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
        </li>
      <% else %>
        <li class="stats" id="days">
            &infin;
            <span>days left</span>
          </li>
      <% end %>
    </ul>
    
    <% if Order.current < Order.goal %>
      <div id='progress_bg' class='small'>
        <div id='progress' class='' style='width: <%= Order.percent %>%;'>
        </div>
      </div>
    <% else %>
      <div id="progress_bg">
        <div id="progress">
        </div>
        <div id='progress_text'><%= Order.percent %>% <%= Settings.progress_text %></div>
      </div>
    <% end %>
    
    <div id="reserve_container">
      <p id="ship_date"><%= Settings.ships %></p>
      <a href="/preorder/checkout" class="blue_button reserve"><%= Settings.call_to_action %></a>
      <p id="price"><%= Settings.price_human %></p>
      <p><%= Settings.dont_give_them_a_reason_to_say_no %></p>
	  <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	      <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wayki.me&&media=http%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0166%2F6136%2Ffiles%2Fwayki-alarmclock-toothbrush_grande.jpg%3F111&description=Wayki%2C%20the%20world's%20first%20Alarm%20Clock%20Toothbrush!" class="pin-it-button" count-layout="none">Pin It</a>
<script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
		 <a href="https://twitter.com/share" class="twitter-share-button" data-text="Just seen the world's first Alarm Clock Toothbrush. Mornings will never be the same!" data-via="WaykiMe" data-hashtags="Wayki">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>
	  </div>
    
  </div>
  
</div>