<head>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e0f381c125dc904"></script>
</head>
<body>

<style>

</style>

<div class="wrapper clearfix">
<div id="video">
<iframe width='512' height='385' src="<%= video_url %>"></iframe>
</div>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.current, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
      <li class="stats">
        <%= number_to_currency Order.revenue, :precision => 0 %>
        <span>of <%= number_to_currency Settings.project_goal.to_f * Settings.price.to_f, :precision => 0 %></span>
      </li>

      <% if Settings.expiration_date.present? %>
        <li class="stats" id="days">
          <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
          <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
        </li>
      <% else %>
        <li class="stats" id="days">
            &infin;
            <span>days left</span>
          </li>
      <% end %>
    </ul>
    
    <% if Order.current < Order.goal %>
      <div id='progress_bg' class='small'>
        <div id='progress' class='' style='width: <%= Order.percent %>%;'>
        </div>
      </div>
    <% else %>
      <div id="progress_bg">
        <div id="progress">
        </div>
        <div id='progress_text'><%= Order.percent %>% <%= Settings.progress_text %></div>
      </div>
    <% end %>
    
    <div id="reserve_container">
      <p id="ship_date"><%= Settings.ships %></p>
      <a href="/preorder/checkout" class="blue_button reserve"><%= Settings.call_to_action %></a>
      <p id="price"><%= Settings.price_human %></p>
      <h6><font size="2">Your card <u>will not</u> be charged until Wayki is boxed up and ready for you. (Free UK shipping.)</font></h6>
<br>
<div style="width:337px; float:right;">
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:media="https://dl.dropbox.com/u/67589724/Wayki%20Press/wayki-alarmclock-toothbrush-h.jpg" pi:pinit:layout="horizontal"></a>
</div>
</div>
  </div>
 </div> 
</div>                                                

</body>