<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content">
      <h2>Check out</h2>
      <p>
        Your reservation will be securely handled by [ENTER PROCESSOR HERE].
        <br />
        <br />
        Enter your email address below.
      </p>
      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
        <%= email_field_tag "email", nil, :placeholder => "hello@lockitron.com", :required => "required", :id => "email" %>
        <%= hidden_field_tag "preorder", true %>
        <%= hidden_field_tag "quantity", params[:quantity] %>
        <%= submit_tag "Checkout", :class => "blue_button disabled", :id => "amazon_button" %>
      <% end %>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
