<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      Hooray! You've just reserved a <%= Settings.product_name %>!
    </h2>
    <p>Congratulations, you're <%= Settings.primary_stat_verb %> number <span id="backer_number"><%= number_with_delimiter @order.number, :delimiter => "," %></span>,  in supporting <%= Settings.product_name %>. Share the great news!</p>
    <br />
    <br />
    <div id="share" class="clearfix">
      <div id='pin_button_container'>
        <a data-pin-config="beside" href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wayki.me&media=http%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0166%2F6136%2Ffiles%2Fwayki-alarmclock-toothbrush_grande.jpg%3F111&description=Wayki%2C%20the%20world's%20first%20Alarm%20Clock%20Toothbrush!" data-pin-do="buttonPin" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
      </div>
      <div id='tweet_button_container'>
        <%= tweet_button %>
      </div>
      <div id='facebook_button_container'>
        <%= like_button(450, true) %>
      </div>
    </div>
     <div id="order_id">Reservation ID: <%= @order.uuid %>. You can bookmark or print this page for your records.</div>
  </div>
</div>
